aws_region  = "us-west-2"
project_name = "my-app"
environment  = "prod"

vpc_cidr           = "10.30.0.0/16"
public_subnet_cidr = "10.30.1.0/24"

instance_type           = "t3.medium"
instance_count          = 2
ssh_ingress_cidr_blocks = ["203.0.113.10/32"]

s3_bucket_name        = "my-app-prod-bucket"
s3_versioning_enabled = true
s3_force_destroy      = false
s3_sse_algorithm      = "AES256"
s3_kms_key_id         = null

extra_tags = {
  Owner = "your-name"
}
